APP_ENV=development
ALLOWED_ORIGINS=http://localhost:5173

# Database
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=

# Google and Auth
SESSION_SECRET=$up3r_$3cr3t_k3y
SESSION_NAME=session_name
SESSION_MAX_AGE_IN_SECONDS=9999
GOOGLE_CLIENT_ID=xxxxxxxx.apps.googleusercontent.com
ALLOWED_EMAILS=email1@gmail.com,email2@gmail.com
